.hero {
  position: relative;
  height: 100vh;
  width: 100%;
  color: #ffffff;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}

#video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

.hero .content {
  height: 100%;
  width: 100%;
  margin: auto;
  padding: 1rem;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.form {
  background-color: #ffffffcc;
  color: #000000;
  border: 1px solid #cccccc;
  border-radius: 8px;
  width: 100%;
  max-width: 700px;
  margin: 20px auto 0;
  padding: 4px;
  display: flex;
  justify-content: space-between;  
  align-items: center;
}

.form input[type=text] {
  background-color: transparent;
  border: transparent;
  width: 400px;
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
}

.form input[type=text]:focus {
  outline: none;
}

@media all and (max-width: 940px) {
  .form input[type=text] {
    max-width: 275px;
    font-size: 1rem;
  }
}