.navbar {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;  
  padding: 0 1rem;
  z-index: 2;
}

.nav-menu {
  display: flex;
}

li {
  padding: 0 1rem;
}

.burger-menu-closed {
  display: none;
}

.burger-menu-opened {
  display: none;
}

@media all and (max-width: 940px) {
  .nav-menu {
    display: none;
  }

  .burger-menu-closed {
    display: block;
  }

  .nav-icons {
    display: none;
  }
}